[DEFAULT]

[user]
username = roliy
password = 2017

[mysql]
# url = mysql://root:root@192.168.1.39:3306/resource_system?charset=utf8
url = mysql://root:123456@10.231.28.224:3306/resource_system?charset=utf8
scan_max_number = 100

[storage]
base_dir = /Users/roliy/upload

[preview_page]
item_num_per_page = 20
